@font-face {
  font-family: "RoadRage";
  src: url(./fonts/RoadRage-Regular.ttf);
}

header {
  text-align: center;
}

footer {
  text-align: center;
  font-family: RoadRage;
  letter-spacing: 0.1em;
  font-size: 20px;
}

h1 {
  color: blueviolet;
  font-weight: bold;
  text-align: center;
  font-family: RoadRage;
  letter-spacing: 0.3em;
  font-size: 50px;
}

body {
  font-family: RoadRage;
  background-color: blueviolet;
}
.App a {
  text-decoration: none;
  color: pink;
  transition: all 200ms ease-in-out;
  font-family: RoadRage;
}

.App a:hover {
  color: rgb(187, 141, 148);
}

.container {
  max-width: 900px;
}
