header {
  text-align: center;
}

footer {
  text-align: center;
}

.container {
  max-width: 900px;
}

body {
  background-color: beige;
  font-family: helvetica;
}
.App a {
  text-decoration: none;
  color: rgb(0, 93, 0);
}

.App a:hover {
  color: rgb(95, 156, 5);
}
