header {
  text-align: center;
}

footer {
  text-align: center;
}

h1 {
  color: rgb(8, 58, 8);
  font-weight: bold;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );
  font-family: helvetica;
}
.App a {
  text-decoration: none;
  color: rgb(31, 122, 31);
  transition: all 200ms ease-in-out;
}

.App a:hover {
  color: rgb(159, 204, 95);
}

.container {
  max-width: 900px;
}
