.Dictionary section {
  background-color: pink;
  padding: 40px;
  margin: 20px;
  border-radius: 8px;
  border: 10px solid black;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); */
}

.Dictionary form input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 5px solid black;
  color: rgba(128, 128, 128, 0.824);
  font-size: 20px;
}

.Dictionary div.hints {
  color: rgba(17, 17, 17, 0.456);
  margin: 0;
}

.Dictionary h2 {
  font-size: 24px;
  font-weight: bold;
  color: blueviolet;
  font-family: RoadRage;
  letter-spacing: 0.1em;
}
