.Phonetics a {
  border-radius: 20px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: blueviolet;
  color: pink;
  font-size: 15px;
  transition: 200ms all ease-in-out;
}

.Phonetics a:hover {
  color: blueviolet;
  border: 2px solid blueviolet;
  background-color: pink;
}

.Phonetics span.phonetic {
  color: rgba(38, 38, 38, 0.495);
}
