.Phonetics a {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: rgb(8, 58, 8);
  color: white;
  font-size: 15px;
}

.Phonetics a:hover {
  color: rgb(8, 58, 8);
  background-color: white;
}
