ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 7px 10px;
  color: #093a08;
  opacity: 0.5;
  border: 1px solid #093a08;
  border-radius: 20px;
}
